#Lab 1

The **aims** of this lab are:

*   Allow you practice slicing and analysing data with Pandas
*   Introduce you to the MovieLens dataset
*   Demonstrate use of Pandas to perform non-personalised recommendations

This lab makes the following **assumptions**:

 * You have experience before in using Pandas, e.g. from Text-as-Data or from Programming and Systems Development (H).

This lab is unassessed, but please complete the [Moodle feedback quiz](https://moodle.gla.ac.uk/mod/feedback/view.php?id=1441777) once you have finished your attempt at this lab.

In [0]:
#Standard setup
import pandas as pd
import numpy as np

#Part 1 - MovieLens Exploration using Pandas

This lab will be using the [Movielens](https://grouplens.org/datasets/movielens/) data. There is a large dataset with 20M ratings. We'll focus on the small one.  

**Hint** : If you are using Colab, it might be good if you have this open on your own machine. The CSV files are small enough to be searched using your favourite editor.

In [0]:
!curl -o ml-latest-small.zip http://files.grouplens.org/datasets/movielens/ml-latest-small.zip
!unzip -o ml-latest-small.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  955k  100  955k    0     0  2269k      0 --:--:-- --:--:-- --:--:-- 2263k
Archive:  ml-latest-small.zip
   creating: ml-latest-small/
  inflating: ml-latest-small/links.csv
  inflating: ml-latest-small/tags.csv
  inflating: ml-latest-small/ratings.csv
  inflating: ml-latest-small/README.txt
  inflating: ml-latest-small/movies.csv

Let's look into the files using Pandas:

In [0]:

ratings_df = pd.read_csv("ml-latest-small/ratings.csv")
movies_df = pd.read_csv("ml-latest-small/movies.csv")

In [0]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

Ok, so we can see users (identified by userId) are rating various movies (cf. movieId).

We can slice and dice the dataframes, e.g.

 * project a single column

In [0]:
movies_df["title"]

0                                Toy Story (1995)
1                                  Jumanji (1995)
2                         Grumpier Old Men (1995)
3                        Waiting to Exhale (1995)
4              Father of the Bride Part II (1995)
                          ...
9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
9741          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object

 - project multiple columns

In [0]:
movies_df[["movieId", "title"]]

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

 - Select rows based on one or more conditions

In [0]:
ratings_df[(ratings_df["userId"] == 500) & (ratings_df["rating"] == 1)]

       userId  movieId  rating   timestamp
79908     500       11     1.0  1005528017
79909     500       39     1.0  1005527926
79910     500      101     1.0  1005527980
79915     500      231     1.0  1005528039
79923     500      449     1.0  1005528017
79924     500      471     1.0  1005528017
79926     500      539     1.0  1005527980
79931     500      597     1.0  1005527980
79934     500      745     1.0  1005528205
79939     500     1188     1.0  1005528065
79951     500     1824     1.0  1005527926
79955     500     1914     1.0  1005527980
79958     500     1993     1.0  1005527364
79971     500     2671     1.0  1005528078
79980     500     3083     1.0  1005528017
79986     500     3466     1.0  1005527926
79992     500     4873     1.0  1005528205



Lets practice a bit more with Pandas. You can also refer to the [Pandas Dataframe API documentation.](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

Write code to answer the following questions:

**Exercise**

**Q1.** How many users are there in this dataset?

**Q2.** What is the average number of ratings per-user? Hint: You *could* use groupby() or describe(). Try both.

**Q3.** What is the average rating across all users?

In [0]:


# Q1: The number of the users:
num_users = ratings_df['userId'].nunique()
print('The number of the users is: %d'%num_users)

# Q2: The average number of ratings

# groupby()
user_means = ratings_df.groupby('userId')['rating'].mean()
print(user_means)

# describe()

user_means = ratings_df.groupby('userId')['rating'].describe()
print(user_means)

# Q3: The average rating across all users

all_means = ratings_df['rating'].mean()
print('The average rating across all users is %.4f'%all_means)

The number of the users is: 610
userId
1      4.366379
2      3.948276
3      2.435897
4      3.555556
5      3.636364
         ...
606    3.657399
607    3.786096
608    3.134176
609    3.270270
610    3.688556
Name: rating, Length: 610, dtype: float64
         count      mean       std  min  25%  50%   75%  max
userId
1        232.0  4.366379  0.800048  1.0  4.0  5.0  5.00  5.0
2         29.0  3.948276  0.805615  2.0  3.5  4.0  4.50  5.0
3         39.0  2.435897  2.090642  0.5  0.5  0.5  4.75  5.0
4        216.0  3.555556  1.314204  1.0  3.0  4.0  5.00  5.0
5         44.0  3.636364  0.990441  1.0  3.0  4.0  4.00  5.0
...        ...       ...       ...  ...  ...  ...   ...  ...
606     1115.0  3.657399  0.724121  0.5  3.5  4.0  4.00  5.0
607      187.0  3.786096  0.965657  1.0  3.0  4.0  5.00  5.0
608      831.0  3.134176  1.079262  0.5  2.5  3.0  4.00  5.0
609       37.0  3.270270  0.450225  3.0  3.0  3.0  4.00  4.0
610     1302.0  3.688556  0.857422  0.5  3.0  3.5  4.50  5.0

[610 rows x 8 columns]
The average rating across all users is 3.5016

Lets try something else. We can see what movies a given user has rated by "merging" the two dataframes - this equates to a JOIN in SQL. Lets do this for userId 556.

In [0]:
pd.merge(
    ratings_df[ratings_df["userId"]==556], 
    movies_df, 
    on=["movieId"]).sort_values(by="rating", ascending=False)

    userId  ...                                       genres
0      556  ...  Adventure|Animation|Children|Comedy|Musical
2      556  ...                   Adventure|Children|Fantasy
27     556  ...                      Action|Adventure|Sci-Fi
21     556  ...    Adventure|Animation|Children|Fantasy|IMAX
3      556  ...                            Adventure|Fantasy
4      556  ...                            Adventure|Fantasy
23     556  ...  Action|Adventure|Drama|Fantasy|Mystery|IMAX
13     556  ...                     Action|Adventure|Fantasy
18     556  ...                 Action|Adventure|Sci-Fi|IMAX
30     556  ...                                      Fantasy
29     556  ...                     Action|Adventure|Fantasy
28     556  ...              Children|Comedy|Fantasy|Musical
26     556  ...                       Adventure|Fantasy|IMAX
24     556  ...                 Action|Adventure|Sci-Fi|IMAX
22     556  ...        Action|Adventure|Fantasy|Romance|IMAX
20     556  ...                       Adventure|Fantasy|IMAX
31     556  ...       Action|Adventure|Drama|Sci-Fi|Thriller
1      556  ...               Fantasy|Horror|Mystery|Romance
15     556  ...                   Adventure|Children|Fantasy
14     556  ...                 Adventure|Drama|Fantasy|IMAX
12     556  ...                       Drama|Fantasy|Thriller
10     556  ...              Adventure|Fantasy|Thriller|IMAX
9      556  ...                       Adventure|Fantasy|IMAX
8      556  ...               Action|Adventure|Drama|Fantasy
7      556  ...                        Action|Fantasy|Horror
6      556  ...              Action|Adventure|Comedy|Fantasy
5      556  ...                            Adventure|Fantasy
17     556  ...       Adventure|Fantasy|Mystery|Romance|IMAX
19     556  ...                            Adventure|Fantasy
11     556  ...                   Adventure|Children|Fantasy
25     556  ...                       Action|Adventure|Drama
16     556  ...               Drama|Fantasy|Romance|Thriller

[32 rows x 6 columns]

This user is pretty into adventure/fantasies. 

NB: If the columns we are joining on dont have the same name, we can specify `left_on` and `right_on` attributes. See also the  [pd.merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) documentation.

## Part 2 - Non personalised Recomendations

**Exercise**

**Q4.** What was the name of one of the most popular movies (i.e. provide the name of one of moveis that has the highest average ratings)?

Hint: Try a GroupBy. Once you have a Series with columns [movieId, meanRating], used idxmax() to find the row with the highest average mean. You can use loc to access rows, by their "index". How many ratings does this movie have?

In [0]:
series_movies = ratings_df.groupby('movieId')['rating'].mean()
print(series_movies)
highestId = series_movies.idxmax()
name = movies_df.loc[series_movies.idxmax(), 'title']
print('The movie with the highest average ratings is: %s'%name)

movieId
1         3.920930
2         3.431818
3         3.259615
4         2.357143
5         3.071429
            ...
193581    4.000000
193583    3.500000
193585    3.500000
193587    3.500000
193609    4.000000
Name: rating, Length: 9724, dtype: float64
The movie with the highest average ratings is: Indian in the Cupboard, The (1995)


Ok, but do we think this will make a good recommendations?

**Q5.** How many ratings does this popular movie have?

In [0]:
print('The number of ratings is %d'%ratings_df[ratings_df['movieId']==highestId].shape[0])

The number of ratings is 2

### Associations

I think we can do better than recommending a highly rated but unpopular movie.

Lets take all of the positive ratings (4 or 5), and find the most popular pairs of movies that users have watched.

There is a lot going on there, so please take the time to break it down to understand what it does.

In [0]:


positives=ratings_df[ratings_df["rating"]>=4]

#join positives with itself on userId to get all pairs of movies watched by a given user.

pairs=pd.merge(positives, positives, on=["userId"])


#we only want A->B, not B->A. Use the timestamps to restrict the selected pairs
sequences=pairs[pairs["timestamp_x"] < pairs["timestamp_y"]] 

#lets count the frequency of each pair of movies.
paircounts=sequences[["movieId_x", "movieId_y", "userId"]].groupby(["movieId_x", "movieId_y"]).count()

#sort by the most popular pairs.
pairswithcounts = paircounts.reset_index().rename(columns={"userId" : "count"}).sort_values(['count'], ascending=False)

#display the top most frequent pairs
pairswithcounts.head()

        movieId_x  movieId_y  count
193808        318        356    104
176913        296        593     92
176624        296         47     91
152788        260       1196     91
193892        318        527     90

**Q6.**  Display the titles of the most popular movie pairs from `pairswithcounts.head()`?

In [0]:
movie1 = pairswithcounts.loc[pairswithcounts.head()['count'].idxmax()]['movieId_x']
movie2 = pairswithcounts.loc[pairswithcounts.head()['count'].idxmax()]['movieId_y']
name1 = movies_df.loc[movie1, 'title']
name2 = movies_df.loc[movie2, 'title']
print(name1, name2)

I Love Trouble (1994) Age of Innocence, The (1993)

**Q7.** Calculate Lift for all pairs in `paircounts` 

Hint: You will need to join toppairs with a dataframe containing rating counts of individual movies. A calculated column will be needed. See https://stackoverflow.com/a/12377083/9989050 for hints on how to achieve that.

Finally, my solution had duplicated columns. I used this trick https://stackoverflow.com/a/40435354/9989050 to get rid of them.

In [0]:
#print(paircounts)
#pairswithcounts.movieId_x
moviescount_df = ratings_df.groupby('movieId').count()
pairswithcounts.count/(moviescount_df.loc[pairswithcounts.movieId_x, 'rating']*moviescount_df.loc[pairswithcounts.movieId_y, 'rating'])

#movies_df.loc[pairswithcounts.movieId_x, 'title']

# Ok, that's it. 

Please complete the [Moodle feedback quiz](https://moodle.gla.ac.uk/mod/feedback/view.php?id=1441777) for this lab.